<%- partial('_partial/header', {
    title: page.title,
    hdClass: 'post-header',
    titleClass: ''
}) %>
<%
page.reward = 'reward' in page ? (theme.reward && page.reward) : theme.reward;
page.slug = 'hexo-page-' + page.path.replace(/\/index\.html$/,'').split('/').join('-');
%>
<div class="container body-wrap">
    <%- partial('_partial/post/toc', { post: page}) %>
    <article class="page-article fade" itemprop="blogPage" style="width:80%;">
        <div class="card">
            <div class="post-content" id="post-content" itemprop="postContent">
                <%- page.content %>
            </div>
        </div>

        <% if(theme.about){ %>
        <div class="card page-about-me flex-row">
            <a href="/" class="avatar waves-effect waves-circle waves-light"><%- image_tag(theme.avatar) %></a>
            <div class="content flex-col">
                <p><strong><%- config.author %></strong></p>
                <p><em><%- config.subtitle %></em></p>
                <p><%- theme.about %></p>
            </div>

            <%- partial('_partial/post/share-fab') %>

        </div>
        <% } %>
        <%- partial('_partial/post/comment', { post: page }) %>
    </article>
</div>
